.sidebar-nav { margin-top: 20px;
               padding: 0;
               list-style: none; }


body
     { font-family: "Lato", sans-serif;
       font-size : 1.3em;
       height : 96vh;
       margin-top: 2vh;
       margin-bottom: 2vh; }
       
.text-success { color: #28a745; }
.text-warning { color: #ffc107; }
.text-danger  { color: #dc3545; }
.text-muted   { color: #6C757D; }


